/*------GENERAL------*/

* {
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;;
    color: blanchedalmond;
}

.body {
    margin: 0;
    font-size: 1rem;
   /* overflow: hidden;*/
    background-color: black;
}

/*------HEADER------*/

.home {
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    overflow: auto;
}

.home-start {
    min-width: 100vh;
    min-height: 100vh;
    background-color: rgb(58, 4, 109);
}

.button-start {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:none;
    border: 2px solid white;
    outline: none;
    padding: 1.5rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: color 0.8s ease-out;
    overflow: hidden;
}

.button-start:hover {
    color: black;
}

.button-start:before {
    content: "";
    position: absolute; 
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: #ffffff;
    transition: top 0.8s ease-in-out;
    z-index: -1;
}

.button-start:hover:before {
    transition: 0.8 ease-in-out;
    top: 0;
}


/*------MY PAGE------*/




/*----Intro----*/

.header {
    min-height: 100vh;
    min-width: 100vh;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: block;
    text-align: left;
    width: 100%;
}

.name {
    font-size: 1.5rem;
}

.slide {
    margin: 2rem 0;
    font-size: 5rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px blanchedalmond;
}

.contact {
    display: flex;
    list-style: none;
    padding: 0;
    position: relative;
}

.contact-list {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    margin-right: 1.5rem;
}

.contact-list::before {
    content: "";
    position: absolute;
    height: 3rem;
    width: 0.25rem;
    margin-left: -1.5rem;
    background-color: blanchedalmond;
}

.subject {
    margin-bottom: 0.75rem ;
}

.subject-icon {
    margin-right: 0.25rem;
}

/*----Profil----*/


.card {
    position: relative;
    padding-top: 6rem;
    width: 100%;
}

.card-title {
    text-transform: uppercase;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.element-container {
    width: 100%;
} 

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    margin: 0 -1rem;
}

.element {
    padding: 0 1rem;
}

/*--about--*/

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-img {
    border: 1px solid blanchedalmond;
    padding: 1rem;
}

/*--path--*/

.path {
    border: 1px solid blanchedalmond;
    padding: 0 1rem;
}

.path-more {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


